/*FORMATAÇÕES GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    flex: 1;
}

body {
    background-color: #0A0A0A;
    background-image: url('imagens-gerais/Background.jpg');
    color: #C2D9A1;
    font-family: "Work Sans", sans-serif;
    transition: background-image 0.5s ease-in-out;
}

main {
    margin: 50px auto;
    max-width: 1440px;
    width: 80%;
}

p {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#btn-topo {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    background-color: #030303;
    color: #C2D9A1;
    border: 2px solid #C2D9A1;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    padding: 12px 17px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(194, 217, 161, 0.4);
    transition: all 0.3s ease;
}

#btn-topo:hover {
    background-color: #E8E8E8;
    color: #030303;
    box-shadow: 0 0 15px rgba(194, 217, 161, 0.8);
}



/*** Titulos principais das pag ***/

h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    font-size: 64px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    padding: 10px;
    margin: 50px 0px;
}

h3 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding: 10px;
    margin: 40px 0px;
}

/*****************************  AREA DO CABEÇALHO E BARRA DE NAVEGAÇÃO **************************************/

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #030303;
    padding: 10px 20px;
    transition: background-color 0.5s ease-in-out;
}

.logo img {
    height: 80px;
    transition: background 0.3s ease;
}

.barra-de-navegacao {
    display: flex;
    gap: 15px;
    background-color: #030303;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
}

.barra-de-navegacao a {
    color: #E8E8E8;
    text-decoration: none;
    font-size: 16px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    padding: 5px 20px;
}

.barra-de-navegacao a:hover {
    background: #333;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #E8E8E8;
    font-size: 24px;
    cursor: pointer;
}

.botao-tema {
    background: #030303;
    color: #E8E8E8;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    opacity: 1;
}

.botao-tema:hover {
    background: #333;
}


/************************* AREA DOS CARDSSSSS ********************************************/

.grupo-card {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}

.card {
    width: 280px;
    height: 450px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    background-color: #1a1a1a;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    filter: brightness(0.7);
}

.card:hover {
    transform: scale(1.05);
}

.card p,
.card h3 {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
}

.card h3 {
    font-size: 24px;
    color: #C2D9A1;
}

.card:hover p {
    top: 65%;
    opacity: 1;
}

.card:hover h3 {
    top: 15%;
    opacity: 1;
}

.grupo-card:hover .card:not(:hover) {
    filter: blur(3px);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

/****sobre da página de inicio****/

.sobre-pag-inicio {
    margin: 50px auto;
    text-align: center;
}

.sobre-pag-inicio p {
    font-size: 20px;
    padding: 0% 5%;

}

.sobre-pag-inicio img {
    height: 200px;
    margin: 50px auto; 
    display: block;
}

.sobre-pag-inicio a {
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    padding: 5px 10px;
    display: inline-block;
    white-space: nowrap;
    transition: 0.5s;
    width: fit-content;
    margin-left: 85%;
}

.sobre-pag-inicio a:hover {
    transform: scale(1.10);
}

/*** conteudos***/
.conteudo {
    margin: 100px auto;
    text-align: left;
}

.conteudo ul {
    padding: 0;
    margin: 20px auto;
    margin-left: 50px;
}

.conteudo li {
    margin: 10px 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #E0E0E0;
}

.conteudo h3 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    text-align: left;
    padding: 10px;
    margin: 40px 0px;
}

.conteudo img {
    height: 200px;
    margin: 50px;
}

.conteudo a {
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    padding: 5px 10px;
    display: inline-block;
    white-space: nowrap;
    width: fit-content;
    transition: 0.5s;
    margin-left: 90%;
}

.conteudo a:hover {
    transform: scale(1.10);

}

.imagem-flutuante {
    float: right;
}

.campo-conteudo {
    margin: 50px auto;
    text-align: center;
}

.campo-conteudo a {
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    transition: 0.5s;
    display: inline-block;
}

.campo-conteudo a:hover {
    transform: scale(1.10);
}

.curiosidades {
    margin: 50px auto;
    height: auto;
    text-align: center;
    justify-content: center;
}

#curiosidade {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    padding: 0% 5%;
}

#casos {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    padding: 0% 5%;
}

/************ Formulario de relato *************/

.formulario {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: #C2D9A1;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.formulario label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea,
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #0A0A0A;
    color: #fff;
}

.formulario textarea {
    resize: vertical;
}

.formulario .checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    color: #E0E0E0;
}

.formulario label[for="checkbox"] {
    font-size: 16px;
}

.formulario .checkbox a {
    margin-left: 5px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #E0E0E0;
}

.formulario .checkbox input {
    margin-right: 10px;
}

.formulario button {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #030303;
    color: #C2D9A1;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #C2D9A1;
}

.formulario button:hover {
    background-color: #a5bf7f;
    color: #030303;
    border: #030303;
}

/************ Perguntas frequentes *************/
.faq {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: "Lora", serif;
    color: #E0E0E0;
    transition: background-color 0.5s ease-in-out;
}

.faq h2 {
    text-align: center;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 10px;
    border: 1px solid #C2D9A1;
    border-radius: 5px;
    overflow: hidden;
}

.faq-item button {
    text-align: left;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.faq-pergunta {
    background-color: #030303;
    color: #C2D9A1;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    transition: background-color 0.5s ease-in-out;
}

.faq-pergunta:hover {
    background-color: #1a1a1a;
}

.faq-resposta {
    max-height: 0;
    overflow: hidden;
    background-color: #030303;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 15px;
    transition: background-color 0.5s ease-in-out;
}

.faq-resposta p {
    margin: 0;
    padding: 10px 0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #E0E0E0;
}

.faq-item.ativo .faq-resposta {
    max-height: 300px;
    padding: 15px;
}

/**************** Contato *******************/  
.contato-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    padding: 40px;
    color: #C2D9A1;
    font-family: "Lora", serif;
  }
  
  .contato-info {
    flex: 1;
    min-width: 250px;
    max-width: 400px;
  }
  
  .contato-box {
    color: #000;
    padding: 10px;
    margin: 20px 0;
    max-width: 200px;
  }
  

/********************** RODAPÉ ***************************************************/

.rodape {
    text-align: center;
    padding: 20px;
    background-color: #030303;
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

.redes-sociais {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.redes-sociais a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 16px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.3s ease-in-out;
}

.redes-sociais a img {
    width: 32px;
    height: 32px;
}

.redes-sociais a:hover {
    transform: scale(1.2);
}

.rodape p {
    margin-top: 10px;
    color: #d4d4d4;
}

/******* Modo Claro *******/
.modo-claro {
    background-color: #f0f0f0;
    background-image: url('imagens-gerais/Background_inverted.jpg');
    color: #030303;
}

.modo-claro .cabecalho {
    background-color: #FCFCFC;
    color: #030303;
}

.modo-claro .barra-de-navegacao {
    background-color: #FCFCFC
}

.modo-claro h1 {
    color: #030303;
}

.modo-claro p {
    color: #1F1F1F;
}

.modo-claro #curiosidade {
    color: #1F1F1F;
}

.modo-claro #casos {
    color: #1F1F1F;
}

.modo-claro .barra-de-navegacao a {
    color: #030303;
}

.modo-claro .barra-de-navegacao a:hover {
    background-color: #CCC;
}

.modo-claro .botao-tema {
    background-color: #FCFCFC;
}

.modo-claro .botao-tema:hover {
    background-color: #CCC;
}

.modo-claro .rodape {
    background-color: #FCFCFC;
}

.modo-claro .card p {
    color: #E8E8E8;
}

.modo-claro .card h3 {
    color: #C2D9A1;
}

.modo-claro a {
    color: #030303;
}



.modo-claro .redes-sociais a:hover {
    background: none;
}

.modo-claro li {
    color: #030303;
}

.modo-claro .formulario {
    color: #030303;
}

.modo-claro .formulario input[type="text"],
.modo-claro .formulario input[type="email"],
.modo-claro .formulario textarea,
.modo-claro .formulario input[type="file"] {
    background-color: #E8E8E8;
    color: #030303;
    border: 1px solid #444;
}

.modo-claro .formulario button {
    background-color: #FCFCFC;
    color: #030303;
    border: 1px solid #030303;
}

.modo-claro .formulario button:hover {
    background-color: #030303;
    color: #FCFCFC;
    border: 1px solid #FCFCFC;
}

.modo-claro .faq-pergunta {
    background-color: #FCFCFC;
    color: #030303;
}

.modo-claro .faq-pergunta button {
    font-weight: bold;
    color: #030303;
}

.modo-claro .faq-pergunta:hover {
    background-color: #CCC;
}

.modo-claro .faq-resposta {
    background-color: #FCFCFC;
}

.modo-claro .faq-resposta p {
    color: #030303;
}

.modo-claro h3{
    color: #030303;
}
/******* Responsividade ********/

@media (max-width: 1024px) {
    main {
        margin: 30px 80px;
    }

    h1 {
        font-size: 52px;
    }

}

@media screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo,
    .campo-conteudo,
    .faq,
    .formulario {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    main {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo img {
        height: 80%;
        margin-bottom: 10px;
    }

    .barra-de-navegacao {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .barra-de-navegacao a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    /* Exibe o botão de menu hambúrguer */
    .menu-toggle {
        display: block;
    }

    /* Mostra a navbar quando ativa */
    .barra-de-navegacao.ativo {
        display: flex;
    }

    .grupo-card:hover .card:not(:hover) {
        filter: none;
    }

    .card {
        transform: none;
        transition: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 280px;
        height: 450px;
        overflow: hidden;
    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card h3,
    .card p {
        position: absolute;
        text-align: center;
        width: 80%;
        padding: 10px;
        margin: 0;
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: none;
        top: 100%;
        left: 50%;
    }

    .card h3 {
        top: 15%;
        font-size: 22px;
    }

    .card p {
        top: 65%;
        font-size: 16px;
    }

    .card:hover {
        transform: none;
    }

    .conteudo {
        justify-content: center;
        text-align: center;
    }

    .conteudo h3 {
        text-align: center;
    }

    .conteudo img {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 40px auto;
        display: block;
        border-radius: 8px;
    }

    .imagem-flutuante {
        float: none;
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
    .conteudo a {
        margin-left: 0;
        margin-top: 10px;
    }
    .sobre-pag-inicio a {
        margin-left: 0;
        margin-top: 10px;
    }

    .sobre-pag-inicio img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 20px auto;
    }


}

@media screen and (max-width: 480px) {
    main {
        margin: 10px 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .sobre-pag-inicio a {
        margin-left: 0;
        margin-top: 10px;
    }

    .sobre-pag-inicio img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 20px auto;
    }

    .card {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .card img {
        height: auto;
    }

    .conteudo img {
        max-width: 100%;
        margin: 20px auto;
    }

    .conteudo a {
        margin-left: 0;
        margin-top: 10px;
    }

    .formulario {
        padding: 10px;
    }

    .formulario button {
        width: 100%;
        text-align: center;
    }
}