/*FORMATAÇÕES GERAIS*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A0A0A;
    background-image: url('imagens-gerais/Background.jpg');
    color: #C2D9A1;
    font-family: "Work Sans", sans-serif;
}

main {
    margin: 50px 150px;
}

p {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}


/*** Titulos principais das pag ***/

h2 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    padding: 10px;
    margin: 50px 0px;
}

/***** titulo das section ******/

h3 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    padding: 10px;
    margin: 40px 0px;
}
/*****************************  AREA DO CABEÇALHO E BARRA DE NAVEGAÇÃO **************************************/

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #030303;
}

.logo img {
    margin: 10px 60px;
    height: 90px;
}

h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    font-size: 64px;
}

.barra-de-navegacao {
    display: flex;
    gap: 15px;
    background-color: #030303;
    justify-content: center;
    padding: 10px;
}

.barra-de-navegacao a {
    color: #E8E8E8;
    text-decoration: none;
    font-size: 16px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 5px 55px;
    margin: 5px 0px;
}

.barra-de-navegacao a:hover {
    background: #333;
}

.botao-tema {
    background: #030303;
    color: #d4d4d4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 100px;
    transition: background 0.3s ease;
}

.botao-tema:hover {
    background: #333;
}


/************************* AREA DOS CARDSSSSS ********************************************/

.grupo-card {
    justify-content: center;
    display: flex;
    gap: 100px;
}

.card {
    width: 300px;
    height: 500px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: 1s;
    background-color: #1a1a1a;
}


.card img {
    width: 300px;
    height: 500px;
    border-radius: 25px;
    filter: brightness(0.7);
}

.card p {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;  
}

.card h3 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    width: 80%;
    text-align: center;
    font-size: 24px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
}

.card:hover {
    transform: scale(1.10);
}

.card:hover p {
    top: 65%;
    opacity: 1;
}

.card:hover h3 {
    top: 25%;
    opacity: 1;
}

.grupo-card:hover .card:not(:hover) {
    filter: blur(3px);
}

/********************** Campo de conteudo *******************************************************/

/****sobre da página de inicio****/

.sobre-pag-inicio {
    margin: 50px auto;
    height: auto;
    text-align: center;
    justify-content: center;
}

.sobre-pag-inicio p {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0% 5%;
    text-align: center;

}

.sobre-pag-inicio img {
    height: 200px;
    margin: 50px;
}

.sobre-pag-inicio a {
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #C2D9A1;
    padding: 5px 10px;
    width: max-content;
    margin-left: 88%;
    display: block;
}

.sobre-pag-inicio a:hover {
    background-color: #333;
}

/*** conteudos***/

.campo-conteudo {
    margin: 50px auto;
    height: 500px;
    text-align: center;
}

.curiosidades {
    margin: 50px auto;
    height: auto;
    text-align: center;
    justify-content: center;
}

#curiosidade {
    color: #E0E0E0;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0% 5%;
}

/********************** RODAPÉ ***************************************************/

.rodape {
    text-align: center;
    padding: 30px;
    background-color: #030303;
}